.hero {
    background: linear-gradient(135deg,
            #2563eb,
            #7c3aed);

    color: white;
    padding: 100px 40px;
}

.hero-content {
    max-width: 700px;
}

.hero h1 {
    font-size: 3rem;
    margin-bottom: 16px;
}

.hero p {
    font-size: 1.2rem;
    margin-bottom: 24px;
}

.search-box {
    display: flex;
    gap: 12px;
}

.search-box input {
    flex: 1;
    padding: 16px;
    border: none;
    border-radius: 10px;
}

.search-box button {
    border: none;
    background: #f97316;
    color: white;
    padding: 16px 24px;
    border-radius: 10px;
    cursor: pointer;
}

/* Responsividade */
.hero {
    padding: 80px 20px;
}

.hero h1 {
    font-size: 2rem;
}

.search-box {
    flex-direction: column;
}